.pop {
    display: none;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    width: 300px;
    margin: -50px 0 0 -150px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.pop-join-suc {
    margin-top: -150px;
}
.pop-hint-txt, .pop-hint-txt1 {
    overflow: hidden;
    padding: 25px 15px 10px;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    font-size: 1.42rem;
}

.suc-iconbox, .err-iconbox {
    display: inline-block;
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    vertical-align: middle;
}
.fl {
    float: left;
}
.pop.active .ani-scale {
    -webkit-animation: ani-scale .2s 1s linear both;
    -ms-animation: ani-scale .2s 1s linear both;
}
.ani-scale {
    -webkit-animation: ani-scale .2s .5s linear both;
    -ms-animation: ani-scale .2s .5s linear both;
}
.suc-iconok {
    position: absolute;
    left: 10px;
    z-index: 10;
    width: 30px;
    height: 15px;
    border-left: 3px solid #fbbc05;
    border-bottom: 3px solid #fbbc05;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.suc-icongap {
	-webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 0;
    top: 0;
    width: 38px;
    height: 38px;
    /*border: 1px solid #fbbc05;*/
    border-radius: 50%;
}

.pop.active .ani-rotate {
    -webkit-animation: ani-rotate .3s .2s linear both;
    -ms-animation: ani-rotate .3s .2s linear both;
}
.suc-iconmask {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    clip: rect(0 18px 40px 0);
    border: 1px solid #fbbc05;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.pop.active .ani-rotate1 {
    -webkit-animation: ani-rotate .3s .5s linear both;
    -ms-animation: ani-rotate .3s .5s linear both;
}
.suc-iconmask.suc-iconmask-s {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}
.pop.active .ani-opacity {
    -webkit-animation: flipInX .2s .8s linear both;
    -ms-animation: flipInX .2s .8s linear both;
}
.ani-opacity, .btm-more {
    -webkit-animation: flipInX .2s .5s linear both;
    -ms-animation: flipInX .2s .5s linear both;
}
.suc-iconpoint {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #fbbc05;
    border-radius: 50%;
    right: 7px;
    top: 1px;
}
.pop-tit-r {
    margin: -5px 0 0 55px;
    text-align: left;
}
.pop-tit-r small {
    display: block;
    margin-top: 4px;
    font-weight: normal;
    font-size: 13px;
    font-size: 1.08rem;
}
.pop-hint-txt1 {
    padding: 0 15px;
    font-size: 16px;
    font-size: 1.33rem;
}
.pop-hint-txt1 .code2-box {
    width: 80px;
}
.code2-box {
    width: 100px;
    padding: 5px;
    margin: 0 auto 20px;
    border: 1px solid #bfbfbf;
}
.code2-box img {
    width: 100%;
    max-width: 100%;
}

.pop-hint-txt1 .pop-tit-r {
    margin: 0 0 0 110px;
}
.pop-btnbox, .pop-btnbox li, .pop-tit {
    border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFAQMAAAC3obSmAAAABlBMVEX///+/v7+jQ3Y5AAAAAXRSTlMAQObYZgAAAA5JREFUeF5j+MHQAYY/ABGyA4kJspHpAAAAAElFTkSuQmCC) 2 stretch stretch;
}
.pop-btnbox {
    height: 50px;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    font-size: 1.33rem;
    line-height: 50px;
    border-top: 1px solid #bfbfbf;
    background-color: #f2f2f2;
    color: #fbbc05;
}
.mod-label-listwrap li, .mod-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: table\9;
    width: 100%\9;
}

.pop-btnbox li:last-of-type {
    border-right: 0 none;
}
.pop-btnbox, .pop-btnbox li, .pop-tit {
    border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFAQMAAAC3obSmAAAABlBMVEX///+/v7+jQ3Y5AAAAAXRSTlMAQObYZgAAAA5JREFUeF5j+MHQAYY/ABGyA4kJspHpAAAAAElFTkSuQmCC) 2 stretch stretch;
}
.pop-btnbox li {
    border-right: 1px solid #bfbfbf;
    letter-spacing: .5px;
}
.mod-cont {
    padding: 0 10px;
}
.mod-cont, .mod-flex-item, .verification {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    display: table-cell\9;
}
.mask.active { display: block;}
.mask {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
}




@-webkit-keyframes ani-scale {
	0% {
		-webkit-transform: scale(10) rotate(-45deg);
	}

	100% {
		-webkit-transform: scale(1) rotate(-45deg);
	}

}

@-ms-keyframes ani-scale {
	0% {
		-ms-transform: scale(10) rotate(-45deg);
	}

	100% {
		-ms-transform: scale(1) rotate(-45deg);
	}

}

@-webkit-keyframes ani-rotate {
	0% {
		clip: rect(0 18px 0 0);
	}

	100% {
		clip: rect(0 18px 40px 0);
	}

}

@-ms-keyframes ani-rotate {
	0% {
		clip: rect(0 18px 0 0);
	}

	100% {
		clip: rect(0 18px 40px 0);
	}

}

@-webkit-keyframes flipInX {
	0% {
		-webkit-transform: rotate(90deg);
		opacity: 0;
	}

	40% {
		-webkit-transform: rotate(-10deg);
	}

	70% {
		-webkit-transform: rotate(10deg);
	}

	100% {
		-webkit-transform: rotate(0deg);
		opacity: 1;
	}

}

@-ms-keyframes flipInX {
	0% {
		-ms-transform: rotate(90deg);
		opacity: 0;
	}

	40% {
		-ms-transform: rotate(-10deg);
	}

	70% {
		-ms-transform: rotate(10deg);
	}

	100% {
		-ms-transform: rotate(0deg);
		opacity: 1;
	}

}