<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-store, must-revalidate" />
    <meta http-equiv="expires" content="0" />
    <meta name="format-detection" content="telephone=no" searchtype="map">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
	<title>详情页</title>
	<link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/detail.css">
</head>
<body>
	<div class="pagewrap">	
		<article class="detail-box mod-margin-box">
			<section class="loading-pop active">
		        <div class="spinner">
		            <div class="spinny"></div>
		        </div>
		    </section>
		<script type="text/html" id="detailText">
			<section class="mod-margin-unit">
				<ul class="mod-label-listwrap mod-padding-list">
					<li>
						<a class="mod-flex">
							<div class="mod-imgbox">
								<img src="{{image}}" class="mod-img">
							</div>
							<div class="mod-cont">
								<h3 class="list-tit">
									{{if ad_types==1}}
										<i class="tag-hot">热</i>
									{{/if}}
									{{if has_subsidy==1}}
										<i class="tag-recommend reward">奖</i>
									{{/if}}
									<span class="shareTitle">{{title}}</span>
								</h3>
								<address class="addr">
									<i class="icons-site"></i>
									{{post_area}}
									<span class="distance">{{distance_long}}</span>
								</address>
								<div class="pubtime">
									<i class="icons-clock"></i>{{modify_at_str}}
								</div>
								<div class="list-r">
									<i class="salary">
										{{if salary > 0}}
											<em class="price">{{salary}}元</em>/{{salary_type_str}}
											{{if salary_unit>0}}+提成{{/if}}
										{{else if salary==0}}
											<em class="price">{{salary_unit}}元</em>/{{unit_type_str}}
										{{/if}}
	                                </i>
	                            </div>
	                        </div>
						</a>
                    </li>
                </ul>
            </section>
            <section class="mod-margin-unit  company-info p10">
            	<h2 class="com-tit">{{corp_name}}</h2>
            	<dl class="mod-info">
            		<dt>类型：</dt>
            		<dd>{{job_type_str}}</dd>
            	</dl>
            	<dl class="mod-info">
            		<dt>人数：</dt>
            		<dd>{{hire_number}}</dd>
            	</dl>
            	<dl class="mod-info">
            		<dt>日期：</dt>
            		<dd>{{date_start_str}}~{{date_end_str}}&nbsp;{{working_hours}}&nbsp;{{work_time_remark}}</dd>
            	</dl>
            	<dl class="mod-info">
        			<dt>薪资：</dt>
        			<dd>{{payment_type_str}}&nbsp;{{payment_remark}}&nbsp;
        			{{if salary_unit>0}}
        				提成:
        				{{salary_unit}}/{{unit_type_str}}
        			{{/if}}
        			</dd>
            	</dl>
            	{{if has_subsidy==1}}
	            	<dl class="reward-box mod-info">
	                  <dt>
	                    <i class="reward">奖</i>
	                  </dt>
	                  <!--<dd>新用户首次上岗满三天（一个月内）奖励50元；</dd>-->
	                  <dd>邀请好友填写您的邀请码上岗奖励5元，最高奖励10000元；</dd>
	                </dl>
                {{/if}}
            	<div class="tagbox">
            		{{each post_tags as value key}}
            			{{if value=='斗米直付' || value=='斗米担保'}}
            				<p class="assure-info">
		                        <i class="icons-prom"></i> <em>斗米全额担保,完成工作提前结算,即时到账.</em>
		                    </p>
		                {{else}}
		                	<i class="tag-c">{{value}}</i>
            			{{/if}}
            		{{/each}}
            	</div>
            </section>
            {{if post_addr_list.length}}
            	<section class="mod-margin-unit site-info">
	            	<h2 class="com-tit com-tit-box p10">
	                	工作地点
	                	{{if post_addr_list.length>1}}
	                		<a href="ganji://jobaddress?job_id={{id}}" class="more">更多 ({{post_addr_list.length}})</a>
	                	{{/if}}
	               	</h2>
	               	<div class="p10">
	               		<dl class="mod-info">
	               			<dt>地址：</dt>
	               			<dd>
	               				<span class="site-pointer">
	               					<i class="icons-point"></i>{{post_addr_list[0].city_name}}{{post_addr_list[0].district_name}}{{post_addr_list[0].street_name}}{{post_addr_list[0].address}}
	               				</span>
	               			</dd>
	               		</dl>
	               	</div>
	            </section>
            {{/if}}
            <section class="mod-margin-unit mod-last-unit job-info p10">
            	<h2 class="com-tit">岗位说明</h2>
            	<dl class="mod-info">
            		<dt>岗位要求：</dt>
            		<dd>{{job_demand}}</dd>
				</dl>
				<dl class="mod-info jobContent">
					<dt>工作内容：</dt>
					<dd>{{job_content}}</dd>
				</dl>

				{{if interview_addr_list.length && interview_addr_list.length>1}}
					{{each interview_addr_list as item index}}
						<dl class="mod-info">
							<dt>面试地点{{index+1}}：</dt>
							<dd>{{item.city_name}}{{item.district_name}}{{item.street_name}}{{item.address}}</dd>
						</dl>
						<dl class="mod-info">
							<dt>面试时间{{index+1}}：</dt>
							<dd>
								<span class="start-time">{{item.interview_date}}</span>
							</dd>
						</dl>
					{{/each}}
				{{else if interview_addr_list.length && interview_addr_list.length==1}}
					<dl class="mod-info">
						<dt>面试地点：</dt>
						<dd>{{interview_addr_list[0].city_name}}{{interview_addr_list[0].district_name}}{{interview_addr_list[0].street_name}}{{interview_addr_list[0].address}}</dd>
					</dl>
					<dl class="mod-info">
						<dt>面试时间：</dt>
						<dd>
							<span class="start-time">{{interview_addr_list[0].interview_date}}</span>
						</dd>
					</dl>
				{{/if}}
				<dl class="mod-info">
					<dt>截止时间：</dt>
					<dd>
						<span class="end-time" data-tel="{{contact_phone}}">{{deadline}}</span>
					</dd>
				</dl>
			</section>
		</script>
		</article>	
	</div>
	<!--removeIf(production)-->
	<script type="text/javascript" src="../../vendor/core/SHFLoader.js" data-main="detail.js"></script>
	<!--endRemoveIf(production)-->

	<!-- include:js(detail.js) -->
</body>
</html>