<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-store, must-revalidate" />
    <meta http-equiv="expires" content="0" />
    <meta name="format-detection" content="telephone=no" searchtype="map">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <title>列表页</title>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/list.css">
</head>
<body>
<div class="pagewrap">
    <article class="mod-margin-box  list-wrap">
        <section class="loading-pop active">
            <div class="spinner">
                <div class="spinny"></div>
            </div>
        </section>
        <div class="return-top">TOP</div>

        <section class="list-box">
                <ul class="mod-label-listwrap mod-padding-list">
                <script type="text/html" id="listView">
                {{each data as item index}}
                    <li>
                        <a href="ganji://jobdetail?job_id={{item.id}}" class="mod-flex">
                            <div class="mod-imgbox" href="javascript: void(0);">
                                <img src="{{item.image}}" class="mod-img">
                                <p class="icons-bg"><i>{{item.apply_status_str}}</i></p>
                            </div>
                            <div class="mod-cont">
                                <h3 class="list-tit">
                                    {{if item.ad_types==1}}
                                    <i class="tag-hot">热</i>
                                    {{/if}}
                                    {{if item.has_subsidy==1}}
                                    <i class="tag-recommend reward">奖</i>
                                    {{/if}}
                                    {{item.title}}</h3>
                                    <address class="addr">
                                        <i class="icons-site"></i>{{item.post_area}}<span class="distance">{{item.distance_long}}</span>
                                    </address>
                                    <div class="taglist">
                                        {{each item.post_tags as value key}}
                                            {{if value=='斗米直付' || value=='斗米担保'}}
                                            <i class="icons-prom tag-recommed"></i>
                                            {{else}}
                                            <i class="tag-c">{{value}}</i>
                                            {{/if}}
                                        {{/each}}
                                    </div>
                                    <div class="list-r">
                                        <i class="salary">
                                        {{if item.salary > 0}}
                                            <em class="price">{{item.salary}}元</em>/{{item.salary_type_str}}
                                        {{else if item.salary==0}}
                                            <em class="price">{{item.salary_unit}}元</em>/{{item.unit_type_str}}
                                        {{/if}}
                                        </i>
                                        <time class="date">{{item.date_start_str}}~{{item.date_end_str}}</time>
                                    </div>
                            </div>
                        </a>
                    </li>
                {{/each}}
                </script>
                </ul>
                <div class="list-finished f-base displayNone loadingList">
                    <span class="list-icon-loading">
                        <i class="list-loading-point"></i>
                        <i class="list-loading-point"></i>
                        <i class="list-loading-point"></i>
                        <i class="list-loading-point"></i>
                        <i class="list-loading-point"></i>
                    </span>
                    加载中...
                </div>
                <div class="list-finished f-base displayNone noMoreList">没有更多职位了</div>
        </section>
    </article>
</div>
<!--removeIf(production)-->
<script type="text/javascript" src="../../vendor/core/SHFLoader.js" data-main="list.js"></script>
<!--endRemoveIf(production)-->

<!-- include:js(list.js) -->
</body>
</html>